@import 'shared';

:host {
  @include hs-entity-dynamic-background;
  width: 286px;
  height: 386px;

  > :not(.hs-minion-template-image) {
    position: absolute;
  }
}

.hs-minion-image {
  border-radius: 50%;
  top: -10px;
  left: 48px;
  transform: scale(0.85);
  object-fit: cover;
  width: 192px;
  height: 256px;
  z-index: -1;
}

.hs-minion-cost-value {
  @include hs-entity-value-text($hs-card-value-font-size);
  top: calc(25px - (#{$hs-card-value-font-size} * 0.35));
  left: 1px;
  width: 76px;
}

.hs-minion-attack-value {
  @include hs-entity-value-text($hs-card-value-font-size);
  top: calc(335px - (#{$hs-card-value-font-size} * 0.35));
  left: 4px;
  width: 76px;
}

.hs-minion-health-value {
  @include hs-entity-value-text($hs-card-value-font-size);
  top: calc(338px - (#{$hs-card-value-font-size} * 0.35));
  left: 212px;
  width: 76px;
}

.hs-minion-name-value {
  @include hs-entity-value-text($hs-card-name-font-size);
  top: calc(185px - (#{$hs-card-name-font-size} * 0.35));
  left: 30px;
  width: 226px;
  transform: rotate(-4deg);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hs-minion-rarity-crystal {
  @include hs-entity-dynamic-background;
  top: 216px;
  left: 112px;
  width: 73px;
  height: 35px;
}

.hs-minion-text-wrapper {
  top: calc(248px - (#{$hs-card-text-font-size} * 0.35));
  left: 50px;
  width: 186px;
  height: 110px;

  .hs-minion-text-value {
    @include hs-entity-ability-text($hs-card-text-font-size);
    position: initial;
    display: table-cell;
    vertical-align: middle;
    width: 186px;
    height: 110px;
  }
}

.hs-minion-race-wrapper {
  @include hs-entity-dynamic-background;
  top: 335px;
  left: 77px;
  width: 139px;
  height: 35px;

  .hs-minion-race-value {
    @include hs-entity-value-text($hs-card-race-font-size);
    width: 139px;
    height: 35px;
    position: initial;
    display: table-cell;
    vertical-align: middle;
    padding-top: 3px;
  }
}

.hs-minion-dragon-decoration {
  @include hs-entity-dynamic-background;
  top: -21px;
  left: 3px;
  width: 280px;
  height: 153px;
}
