@import 'shared';

$hs-hero-value-font-size: 31px;
$hs-hero-name-font-size: 21px;

:host {
  @include hs-entity-dynamic-background;
  width: 286px;
  height: 386px;

  > :not(.hs-hero-template-image) {
    position: absolute;
  }
}

.hs-hero-image {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  top: 23px;
  left: 7px;
  transform: scale(0.85);
  object-fit: cover;
  width: 256px;
  height: 256px;
  z-index: -1;
}

/* .hs-hero--attack-value {
  @include hs-entity-value-text($hs-hero-value-font-size);
  position: absolute;
  top: calc(342px - (#{$hs-hero-value-font-size} * 0.35));
  left: 4px;
  width: 76px;
} */

.hs-hero-health-value {
  @include hs-entity-value-text($hs-hero-value-font-size);
  top: calc(265px - (#{$hs-hero-value-font-size} * 0.35));
  left: 211px;
  width: 76px;
}

/* .hs-hero-armor-value {
  @include hs-entity-value-text($hs-hero-value-font-size);
  top: calc(344px - (#{$hs-hero-value-font-size} * 0.35));
  left: 212px;
  width: 76px;
} */

.hs-hero-name-value {
  @include hs-entity-value-text($hs-hero-name-font-size);
  top: calc(296px - (#{$hs-hero-name-font-size} * 0.35));
  left: 30px;
  width: 226px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
