<div class="container">
  <h2 class="h4 hs-title">Welcome</h2>

  <mat-card class="mb-m">
    <mat-card-content>
      <p class="mb-2xs">Welcome to my Deck Builder app!</p>

      <p class="mb-2xs">Try it out! You can browse cards and build a deck for heroes of your choice. <b>All cards are composed dynamically</b> from data using HTML / CSS.</p>

      <p class="text-warn mb-2xs"><b>Current issues:</b> object positioning on iOS.</p>

      <p class="text-muted">
        Project history: this was my first own programming project as student, originally written in Java / JavaFX in many iterations for the purpose of learning programming and
        relevant development aspects related to a large project. The prototypes contained a sort-of functional logic with an interactive UI featuring a variety of objects and
        highlighting for attacks, spells and abilities. However, the scope of the project proved to be too large and the project was not finished. This application revives the
        original prototype to the web platform and includes the deck building feature that was integral to the game.
      </p>

      <p class="text-muted fs-small">Note: the application is currently under active development as changes can occur on a daily basis.</p>
    </mat-card-content>
  </mat-card>

  <h2 class="h4 hs-title">Tech-Stack</h2>

  <!-- <p>These technologies are the backbone of the application and its development process.</p> -->

  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m">
        <svg _ngcontent-ng-c778437052="" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 223 236" class="pt-s" height="128">
          <g _ngcontent-ng-c778437052="" clip-path="url(#a)">
            <path
              _ngcontent-ng-c778437052=""
              fill="url(#b)"
              d="m222.077 39.192-8.019 125.923L137.387 0l84.69 39.192Zm-53.105 162.825-57.933 33.056-57.934-33.056 11.783-28.556h92.301l11.783 28.556ZM111.039 62.675l30.357 73.803H80.681l30.358-73.803ZM7.937 165.115 0 39.192 84.69 0 7.937 165.115Z"
            ></path>
            <path
              _ngcontent-ng-c778437052=""
              fill="url(#c)"
              d="m222.077 39.192-8.019 125.923L137.387 0l84.69 39.192Zm-53.105 162.825-57.933 33.056-57.934-33.056 11.783-28.556h92.301l11.783 28.556ZM111.039 62.675l30.357 73.803H80.681l30.358-73.803ZM7.937 165.115 0 39.192 84.69 0 7.937 165.115Z"
            ></path>
          </g>
          <defs _ngcontent-ng-c778437052="">
            <linearGradient _ngcontent-ng-c778437052="" id="b" x1="49.009" x2="225.829" y1="213.75" y2="129.722" gradientUnits="userSpaceOnUse">
              <stop _ngcontent-ng-c778437052="" stop-color="#E40035"></stop>
              <stop _ngcontent-ng-c778437052="" offset=".24" stop-color="#F60A48"></stop>
              <stop _ngcontent-ng-c778437052="" offset=".352" stop-color="#F20755"></stop>
              <stop _ngcontent-ng-c778437052="" offset=".494" stop-color="#DC087D"></stop>
              <stop _ngcontent-ng-c778437052="" offset=".745" stop-color="#9717E7"></stop>
              <stop _ngcontent-ng-c778437052="" offset="1" stop-color="#6C00F5"></stop>
            </linearGradient>
            <linearGradient _ngcontent-ng-c778437052="" id="c" x1="41.025" x2="156.741" y1="28.344" y2="160.344" gradientUnits="userSpaceOnUse">
              <stop _ngcontent-ng-c778437052="" stop-color="#FF31D9"></stop>
              <stop _ngcontent-ng-c778437052="" offset="1" stop-color="#FF5BE1" stop-opacity="0"></stop>
            </linearGradient>
            <clipPath _ngcontent-ng-c778437052="" id="a"><path _ngcontent-ng-c778437052="" fill="#fff" d="M0 0h223v236H0z"></path></clipPath>
          </defs>
        </svg>

        <mat-card-header>
          <mat-card-title>Angular {{ major }}</mat-card-title>
          <mat-card-subtitle>Main Framework</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Using modular standalone structure, control flows, signals, lazy loading, etc.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m">
        <img mat-card-image src="https://ngrx.io/assets/images/badge.svg" alt="Ngrx logo" class="mx-auto pt-s" width="104" height="128" />

        <mat-card-header>
          <mat-card-title>NGRX</mat-card-title>
          <mat-card-subtitle>State Management, Logic</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Application State and View fully decoupled! View all events in the browser console in real-time.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m">
        <img mat-card-image src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png" alt="SASS logo" class="mx-auto pt-s px-2xs" width="128" height="128" />

        <mat-card-header>
          <mat-card-title>RXJS</mat-card-title>
          <mat-card-subtitle>Reactive Extensions</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Complex reactive processing of API requests and application data for display purposes.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m">
        <img mat-card-image src="https://aquul.com/wp-content/uploads/2012/04/Photoshop-CS6-Icon.jpg" alt="Photoshop logo" class="pt-s px-2xs mx-auto" width="128" height="128" />

        <mat-card-header>
          <mat-card-title>Photoshop</mat-card-title>
          <mat-card-subtitle>Image Editor</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Adjustment of raw images, especially cutouts, inner shadow effects and alpha channel support.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m">
        <img mat-card-image src="https://v16.material.angular.io/assets/img/angular-material-logo.svg" alt="Angular Material logo" class="pt-s" height="128" />

        <mat-card-header>
          <mat-card-title>Material 2</mat-card-title>
          <mat-card-subtitle>Angular Components</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Native Angular components with customized theming, typography and general appearance.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m">
        <img
          mat-card-image
          src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png"
          alt="Bootstrap logo"
          class="mx-auto mt-2xs mb-n2xs"
          width="155"
          height="128"
        />

        <mat-card-header>
          <mat-card-title>Bootstrap</mat-card-title>
          <mat-card-subtitle>Grid, Helpers, Typography</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Consistent global syntax for grid, helpers and typography. Using its variables as center piece.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m">
        <img mat-card-image src="https://iconape.com/wp-content/png_logo_vector/typescript.png" alt="TypeScript logo" class="mx-auto pt-s px-2xs" width="128" height="128" />

        <mat-card-header>
          <mat-card-title>TypeScript</mat-card-title>
          <mat-card-subtitle>JavaScript Extended</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Strictly configured for null-safety, safe variable initialization and reliable use of types.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m">
        <img mat-card-image src="https://sass-lang.com/assets/img/logos/logo.svg" alt="SASS logo" class="pt-s" height="128" />

        <mat-card-header>
          <mat-card-title>SCSS</mat-card-title>
          <mat-card-subtitle>CSS Extended</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Leverage variables and CSS generation features, global and component-scoped.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m">
        <img
          mat-card-image
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/ESLint_logo.svg/192px-ESLint_logo.svg.png"
          alt="Eslint logo"
          class="mx-auto pt-s px-2xs"
          width="145"
          height="128"
        />

        <mat-card-header>
          <mat-card-title>Eslint</mat-card-title>
          <mat-card-subtitle>Code Linting</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Semi-automated code quality tooling with extensive custom configuration and plugins.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m">
        <img mat-card-image src="https://prettier.io/icon.png" alt="Eslint logo" class="mx-auto pt-s px-2xs" width="128" height="128" />

        <mat-card-header>
          <mat-card-title>Prettier</mat-card-title>
          <mat-card-subtitle>Code Formatting</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Fully automated opinionated code quality tooling for consistency and opinionated appearance.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m">
        <img
          mat-card-image
          src="https://cdn.freebiesupply.com/logos/large/2x/git-icon-logo-png-transparent.png"
          alt="TypeScript logo"
          class="mx-auto pt-s px-2xs"
          width="128"
          height="128"
        />

        <mat-card-header>
          <mat-card-title>Git</mat-card-title>
          <mat-card-subtitle>Version Management</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Structured and persistent development progression using branching, stashing, rebasing.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6 col-lg-4 col-xl-3">
      <mat-card class="text-center mb-m">
        <svg aria-hidden="true" viewBox="0 0 16 16" version="1.1" data-view-component="true" class="mx-auto px-2xs mt-2xs mb-n2xs" width="128" height="128">
          <path
            d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"
          ></path>
        </svg>

        <mat-card-header>
          <mat-card-title>Github</mat-card-title>
          <mat-card-subtitle>Code Management</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Transparent development experience using pull requests and branch safety options.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
