@use '@angular/material' as mat;
@use 'sass:color';

.mat-mdc-card {
  border-radius: $border-radius !important;
  background-color: rgba(30, 20, 15, 0.75) !important;
  --mat-card-title-text-size: 1.25rem;
  --mat-card-subtitle-text-size: 1rem;

  .mat-mdc-card-title {
    margin-bottom: 4px;
  }

  .mat-mdc-card-subtitle {
    margin-bottom: 4px;
  }

  .mat-mdc-card-header {
    padding-bottom: 4px;
  }
}

.mat-mdc-card.text-center .mat-mdc-card-header-text {
  margin-right: auto;
  margin-left: auto;
}

.mat-card-image {
  width: auto !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

a.active > .mat-card {
  box-shadow:
    0px 2px 1px -1px color.adjust($primary, $lightness: 10%),
    0px 1px 1px 0px color.adjust($primary, $lightness: 20%),
    0px 1px 4px 4px color.adjust($primary, $lightness: 30%);
}

a .mat-mdc-card,
button .mat-mdc-card {
  @include mat.elevation-transition();
}

a:hover .mat-mdc-card,
button:hover .mat-mdc-card {
  @include mat.elevation(6);
}
