@use '@angular/material' as mat;

.mat-form-field-appearance-outline .mdc-notched-outline__leading {
  border-top-left-radius: $border-radius !important;
  border-bottom-left-radius: $border-radius !important;
}

.mat-form-field-appearance-outline .mdc-notched-outline__trailing {
  border-top-right-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}

.mat-form-field-appearance-fill .mdc-text-field {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}

.mat-mdc-form-field label {
  font-weight: $font-weight-semibold;
}

.mat-mdc-form-field-required-marker {
  color: mat.m2-get-color-from-palette($app-warn) !important;
}
