.mat-icon {
  vertical-align: middle;
}

// font-awesome v4.7.0 overrides
.mat-icon.fa {
  font-size: 24px; // full size

  &.fa-users {
    font-size: 90%; // scale down
    margin-bottom: 1px; // align
  }
}

// flagpack overrides
.mat-icon.fp {
  height: initial; // support 4x3 variants
}
