.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    border-radius: $border-radius !important;
    background-color: beige !important;
  }
  .mat-mdc-simple-snack-bar {
    line-height: 24px; // fix: text beyond the line hight was cut off
  }
  .mat-mdc-snack-bar-label {
    padding-top: 5px;
    padding-bottom: 6px;
    font-weight: bold !important;
  }
}

/* .mat-mdc-snack-bar-container.success .mdc-snackbar__label,
.mat-mdc-snack-bar-container.error .mdc-snackbar__label,
.mat-mdc-snack-bar-container.info .mdc-snackbar__label {
  margin-left: app-spacer(2m); // icon spacing

  &::before {
    font-family: 'FontAwesome';
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: app-spacer(s);
    width: 1.1em;
    text-align: center;
  }
} */

.mat-mdc-snack-bar-container.success {
  .mdc-snackbar__surface {
    border: $success 1px solid;
  }
  .mdc-snackbar__label {
    color: $success;

    /* &::before {
      content: '\f00c'; // fa-check
      color: $success;
      display: inline;
    } */
  }
}

.mat-mdc-snack-bar-container.error {
  .mdc-snackbar__surface {
    border: $warn 1px solid;
  }
  .mdc-snackbar__label {
    color: $warn;

    /* &::before {
      content: '\f00d'; // fa-times
      color: $warn;
      display: inline;
    } */
  }
}

.mat-mdc-snack-bar-container.info {
  .mdc-snackbar__surface {
    border: $info 1px solid;
  }
  .mdc-snackbar__label {
    color: $info;

    /* &::before {
      content: '\f129'; // fa-info
      color: $info;
      display: inline;
    } */
  }
}
