// dynamic sub-element
.hs-justify-subcontent-center > .mat-tab-links {
  justify-content: center;
}

.mat-mdc-tab-link {
  @include hs-control-text;

  height: 42px !important; // make a little smaller then 48px
  opacity: 1 !important; // no transparency on inactive links

  &.mdc-tab--active,
  &.cdk-keyboard-focused {
    border-radius: 4px; // align with button
    background-color: rgba(0, 0, 0, 0.12) !important;
  }

  .mdc-tab__text-label {
    color: white !important;
  }
}

.mat-mdc-tab-disabled {
  @include hs-control-disabled;
}

.mat-mdc-tab-nav-bar {
  --mat-tab-active-ripple-color: rgba(0, 0, 0, 0.6);
  --mat-tab-inactive-ripple-color: rgba(0, 0, 0, 0.6);
}
