@use '@angular/material' as mat;

$primary-palette: mat.$blue-palette;
$tertiary-palette: mat.$green-palette;

// Define a dark theme
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $primary-palette,
      tertiary: $tertiary-palette,
    ),
    typography: (
      brand-family: 'HK Grotesk Legacy',
      plain-family: sans-serif,
      bold-weight: 700,
      medium-weight: 700,
      regular-weight: 400,
    ),
    density: (
      scale: -1,
    ),
  )
);

// Define a light theme
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $primary-palette,
      tertiary: $tertiary-palette,
    ),
    typography: (
      brand-family: 'HK Grotesk Legacy',
      plain-family: sans-serif,
      bold-weight: 700,
      medium-weight: 700,
      regular-weight: 400,
    ),
    density: (
      scale: -1,
    ),
  )
);
