// shared: mixins

// container

@mixin app-container-fluid {
  padding-right: app-spacer('s');
  padding-left: app-spacer('s');

  @media (min-width: app-grid-breakpoint('sm')) {
    padding-right: app-spacer('m');
    padding-left: app-spacer('m');
  }

  @media (min-width: app-grid-breakpoint('xl')) {
    padding-right: app-spacer('2m');
    padding-left: app-spacer('2m');
  }
}

@mixin app-container {
  width: $app-container-max-width;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include app-container-fluid;
}

@mixin app-container-lg {
  width: $app-container-lg-max-width;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include app-container-fluid;
}

// entity

$hs-entity-highlight-color-inactive: white;
$hs-entity-highlight-color-available: blue;

$hs-card-value-font-size: 42px;
$hs-card-name-font-size: 18px;
$hs-card-text-font-size: 16px;
$hs-card-race-font-size: 14px;

@mixin hs-entity-highlighting {
  filter: drop-shadow(0 0 5px black);

  &.active,
  &:hover,
  &.cdk-keyboard-focused,
  &.cdk-program-focused {
    filter: drop-shadow(0 0 3px $hs-entity-highlight-color-inactive) drop-shadow(0 0 3px $hs-entity-highlight-color-inactive)
      drop-shadow(0 0 3px $hs-entity-highlight-color-inactive) drop-shadow(0 0 3px $hs-entity-highlight-color-inactive);
  }
}

@mixin hs-entity-dynamic-background {
  /* background-image will be inserted from within the component */
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin hs-entity-value-text($font-size) {
  @include hs-entity-text;

  font-size: $font-size;
  text-align: center;
}

@mixin hs-entity-ability-text($font-size) {
  font-size: $font-size;
  color: black;
  text-align: center;
}

@mixin hs-entity-text {
  @include _hs-entity-text-base;

  font-family: 'Verdana', sans-serif;
}

@mixin _hs-entity-text-base {
  color: white !important;
  text-shadow:
    #000 0px 0px 2px,
    #000 0px 0px 2px,
    #000 0px 0px 2px,
    #000 0px 0px 2px,
    #000 0px 0px 2px,
    #000 0px 0px 2px;

  -webkit-font-smoothing: antialiased;
}

@mixin hs-regular-text {
  text-shadow: #000 0px 0px 4px;
}

// menu

@mixin hs-control-text {
  @include _hs-control-text-base;

  font-family: 'Corben', cursive !important;
  letter-spacing: 0.05em !important;
}

@mixin _hs-control-text-base {
  color: white !important;
  text-shadow:
    #000 0px 0px 2px,
    #000 0px 0px 2px,
    #000 0px 0px 2px,
    #000 0px 0px 2px,
    #000 0px 0px 2px,
    #000 0px 0px 2px;

  -webkit-font-smoothing: antialiased !important;
}

@mixin hs-control-disabled {
  opacity: 0.4 !important;
}
