@import 'shared';

:host {
  @include hs-entity-dynamic-background;
  width: 286px;
  height: 386px;

  > :not(.hs-weapon-template-image) {
    position: absolute;
  }
}

.hs-weapon-image {
  border-radius: 50%;
  top: -10px;
  left: 48px;
  transform: scale(0.85);
  object-fit: cover;
  width: 192px;
  height: 256px;
  z-index: -1;
}

.hs-weapon-cost-value {
  @include hs-entity-value-text($hs-card-value-font-size);
  top: calc(22px - (#{$hs-card-value-font-size} * 0.35));
  left: 1px;
  width: 76px;
}

.hs-weapon-attack-value {
  @include hs-entity-value-text($hs-card-value-font-size);
  top: calc(334px - (#{$hs-card-value-font-size} * 0.35));
  left: 4px;
  width: 76px;
}

.hs-weapon-durability-value {
  @include hs-entity-value-text($hs-card-value-font-size);
  top: calc(334px - (#{$hs-card-value-font-size} * 0.35));
  left: 212px;
  width: 76px;
}

.hs-weapon-name-value {
  @include hs-entity-value-text($hs-card-name-font-size);
  top: calc(183px - (#{$hs-card-name-font-size} * 0.35));
  left: 30px;
  width: 226px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hs-weapon-rarity-crystal {
  @include hs-entity-dynamic-background;
  top: 215px;
  left: 127px;
  width: 43px;
  height: 36px;
}

.hs-weapon-text-wrapper {
  top: calc(248px - (#{$hs-card-text-font-size} * 0.35));
  left: 50px;
  width: 186px;
  height: 110px;

  .hs-weapon-text-value {
    @include hs-entity-ability-text($hs-card-text-font-size);
    position: initial;
    display: table-cell;
    vertical-align: middle;
    width: 186px;
    height: 110px;
    color: white;
  }
}
