.hs-button-spinner {
  transition: background-color 0.3s ease-in-out;

  .mat-button-wrapper,
  .mat-spinner {
    opacity: 100;
    transition: opacity 0.3s ease-in-out;
  }

  &.spinning {
    .mat-button-wrapper {
      opacity: 0;
    }
  }

  &:not(.spinning) {
    .mat-spinner {
      opacity: 0;
    }
  }

  .mat-spinner {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
  }
}
