@import 'shared';

$hs-tile-value-font-size: 24px;
$hs-tile-name-font-size: 18px;

:host {
  @include hs-entity-dynamic-background;

  width: 286px;
  height: 43px;

  > :not(.hs-tile-template-image) {
    position: absolute;
  }
}

.hs-tile-image {
  z-index: 0;
  top: 0px;
  right: 12px;
  transform: scale(0.82);

  width: 216px;
  height: 42px;

  object-fit: cover;

  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

.hs-tile-cost-value {
  @include hs-entity-value-text($hs-tile-value-font-size);

  top: calc(12px - (#{$hs-tile-value-font-size} * 0.35));
  left: -15px;
  width: 76px;
}

.hs-tile-name-value {
  @include hs-entity-value-text($hs-tile-name-font-size);

  top: calc(14px - (#{$hs-tile-name-font-size} * 0.35));
  left: 52px;

  width: 200px;

  text-align: left;
  text-overflow: ellipsis;
}

.hs-tile-count-value {
  @include hs-entity-value-text($hs-tile-value-font-size);

  top: calc(12px - (#{$hs-tile-value-font-size} * 0.35));
  right: 14px;
  width: 56px;
  text-align: right;
}

.hs-tile-rarity-icon {
  @include hs-entity-value-text($hs-tile-value-font-size);

  top: calc(10px - (#{$hs-tile-value-font-size} * 0.35));
  right: 9px;
  width: 24px;

  .hs-tile-rarity-star {
    filter: drop-shadow(0 0 1px black);
  }
}
